.sharp{
    color: #fff;
}
#Logo{
    height: auto;
    width: 100%;
    margin-top: 95%;
}
#introText{
    margin-top: 13%;
}
.introSignUpBtn{
    color: #fff;
    font-size: 22px;
    background-color: #0071e3;
    border: none;
    border-radius: 50px;
}
.footerLink{
    text-decoration: underline;
    color: white;
}
#textareaContact{
    border: none;
    border: 5px solid #1c1e25;;
    border-top: solid 4px ;
    border-radius: 5px;
    text-align: left;
    background-color: #333333;
    height: 150px;
    padding: 6px;
    outline: none;
    color: black;
    font-size: 16px;
}
#submitContact{
    border: #1c1e25 6px solid;
    color: #1c1e25;
    padding-top: 10px;
    border-radius: 8px;
    margin-top: 12%;
    margin-right: 20%;
    background-color: #333333;
}
#submitContact:hover{
    color: white;
    text-decoration: underline;
    outline: none;
    background-color: #0071e3;
}
#contactSubmit{
    font-size: 25px;
    padding: 0px
}
#formContact{
    background-color: #333333;
    padding-top: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0%;
    margin-left: 0%;
    border-top: solid 7px #0071e3;
    border-bottom: solid 8px #1c1e25;
    border-right: solid 8px #1c1e25;
    border-left: solid 8px #1c1e25;
    width: auto;
}
#titleContact{
    padding-bottom: 10px;
    margin-top: 25px
}
#formHeadingContact{
    padding-bottom: 25px;
    border-bottom: 8px solid #1c1e25;
    width: 100%
}
#pageTitleContact{
    margin-top: 15px;
    margin-bottom: 15px;
}
#titleRowContact{
    background-color: #1c1e25;
    border-bottom: 8px solid #1c1e25;
    border-left: 5px solid #1c1e25;
    border-right: 5px solid #1c1e25;
    border-top: solid 7px #0071e3 ;
    color: white;
}
#pagetitleContact{
    border-top: solid 7px #0071e3 ;
    background-color: #1c1e25;
    color: white;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#CK_Contact{
    background-color: #333333;
    border-top: solid 2px black ;
    padding-top: 25px;
    padding-bottom: 25px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 7px solid black;

}
#licensesContact{
    text-align: left;
    font-size: 16px;
}
#contactContact{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.ContactPadding{
    padding-bottom: 50px
}
#emailContact{
    color: #0071e3
}
.learnMore{
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: 15px;
    color: #0071e3;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}
#inputContact{
    border: none;
    border-bottom:2px solid black;
    text-align: left;
    background-color:  #333333;
    font-size: 16px;
    padding-bottom: 0px;
    outline: none;
}
#salesImg{
    width: auto;
    height: 375px;
    margin-top: 5%;
    
}
#marketingImg{
    width: auto;
    height: 75%;
    
}
#designImg{
    width: 100%;
    height: auto;
}
#productionImg{
   width: 100%;
    height: auto;
    
}
#popUpImg{
   width: 100%;
    height: auto;
    
}
#tradeShowImg{
   width: 100%;
    height: auto;
    
}
#shippingImg{
   width: 55%;
    height: auto;
    
}